h1 {
    padding: 0.5rem;
    background-color: lightgrey;
    border-bottom: 4px solid grey;
}

.display-block {
    margin: 2rem;
    border: 2px solid lightgrey;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 12px rgba(25, 25, 25, 0.3);
    padding: 1rem;
}